###List of software packages that I user on a regular basis

###Normal
newsboat
task-spooler
mpv
dmenu
feh
lxappearance
arandr
python3-pip
python-pip
vim
tmux
zathura
zathura-pdf-poppler
git
stow
xbindkeys
sdcv
calibre
htop
gparted
ffmpeg
cmus
keepassx
chromium-browser
ranger
ufw

###ST
cmake
build-essential
libx11-dev
libxft-dev
libxext-dev

###Mail
urlview
urlscan
w3m
w3m-img
mutt
offlineimap

###surf:
#pkg-config
#libglib2.0-dev
#libgcc-4.8-dev
#libseed-gtk4-dev
#libgtk-3-dev
#gdb
#libgcr-3-dev

###dwm:
#libxinerama-dev

###Ascii
figlet

###I3-WM
i3
i3-wm
i3blocks
i3lock-fancy

###Latex
texlive
texlive-full
texmaker
python-pygments
